.basic{
  border: 1px solid #f0f0f0;
}
.basic h2{
  font-size: 15px;
  background-color: #f2f4f5;
  padding: 6px;
}
.basic .body{
  padding: 10px;
}
.login-root {
  width: 300px;
  position: fixed;;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
}
.login-form {
  max-width: 300px;
}
 .login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}